<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
        <a href="/about">About</a>&nbsp;|&nbsp;
    </div>
    <h1>Services</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis numquam temporibus necessitatibus nostrum laboriosam obcaecati natus cum! Ut, a exercitationem.
</body>
</html>